* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(170, 227, 241)
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2{
	padding-top: 15px;
	font-size: 45px;
  text-align: center
	
}
p {
  font-size: 20px;
  text-align: center;
}

td {
  font-size: 20px;
  padding: 5px;
}

tr {
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.centered-div {
  color: rgb(39, 80, 159);
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

input {
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  width: 250px;
}

.primary-button {
  background-color: rgb(39, 80, 159); /* Blue */
  border-radius: 10px;
  color:#F4F4F8;
  display: inline-block;
  font-size: 20px;
  margin: 5px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.accept-button {
  background-color: rgb(69, 209, 87); /* Green */
  border-radius: 10px;
  color:#F4F4F8;
  display: inline-block;
  font-size: 20px;
  margin: 5px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.custom-button {
  background-color: rgb(237, 244, 100); /* Yellow */
  border-radius: 10px;
  color:#F4F4F8;
  display: inline-block;
  font-size: 20px;
  margin: 5px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.map-bg{
	height:850px;
	width: 850pxx;
	background-image: url('../pulse-ride-master/images/cover.jpg');
	background-size: cover;
	text-align:center;
	
}
.txt-container{
	font-size: 35px;
	padding: 5px;
	
	
}
nav{
	 font-size: 40px;
	text-align: center;
	background-color:white;
	
	
}
.checkbox{
	border-radius: 10px;
  height: 20px;
  font-size: 10px;
  width: 60px;
	
	
	
}
/*add*/
